.layout{
    border: 1px solid #d7dde4;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
}
.layout-container {
  height: 100%;
}
.layout-content {
  height: 100%;
}
.layout-container {
  padding: 0 20px;
  min-height: calc('100vh - 64px');
}
